body {
	background-color: gainsboro;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
	text-align: center;
	margin-bottom: 3rem;
}

.menu {
	list-style-type: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* */
	display: flex;
	justify-content: space-evenly;
	max-width: 300px;
	color: darkslategray;
	outline: 1px solid darkslategray;
	list-style-type: none;
	margin: 0 auto 3rem;
	padding: 0;
}

.bg-primary {
	background-color: #0beaab;
}
.bg-plum {
	background-color: plum;
}
.rounded {
	border-radius: 10px;
}

footer {
	text-align: center;
}
footer a {
	color: black;
	text-decoration: none;
}
